<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01_kapak.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410497</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>02_onsoz.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410604</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>03_tez_beyannamesi.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410604</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>04_icindekiler.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410699</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>05_ozet.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410699</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>06_summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410699</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>07_sekiller_dizini.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410795</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>08_tablolar_dizini.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410795</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>09_kisaltmalar_dizini.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410795</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>10_chapter_1.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410902</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>11_chapter_2.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410902</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>12_chapter_3.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410795</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>13_chapter_4.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410902</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>14_references.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410497</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410199</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>references.bib</key>
			<dict>
				<key>lastModification</key>
				<real>549719179.13410902</real>
				<key>version</key>
				<dict>
					<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>14_references.md</string>
		</array>
		<array>
			<string>01_kapak.md</string>
		</array>
		<array>
			<string>02_onsoz.md</string>
		</array>
		<array>
			<string>03_tez_beyannamesi.md</string>
		</array>
		<array>
			<string>04_icindekiler.md</string>
		</array>
		<array>
			<string>05_ozet.md</string>
		</array>
		<array>
			<string>06_summary.md</string>
		</array>
		<array>
			<string>07_sekiller_dizini.md</string>
		</array>
		<array>
			<string>08_tablolar_dizini.md</string>
		</array>
		<array>
			<string>09_kisaltmalar_dizini.md</string>
		</array>
		<array>
			<string>12_chapter_3.md</string>
		</array>
		<array>
			<string>13_chapter_4.md</string>
		</array>
		<array>
			<string>10_chapter_1.md</string>
		</array>
		<array>
			<string>11_chapter_2.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>references.bib</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>c7ed58377155a5ba49c450e0490810048befa54b6d483fb9865685f14eff8816</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
